extends layout

block content
  h1=title

  form(action='/character/{name}', method='get')
    input(type='text', name='name', placeholder='Character Name')
    input(type='submit', value='Go')

  - for(i = 0; i < cv.results.length; i++)
    div
      h2 #{cv.results[i].name}

      - if(cv.results[i].image)
        img.search-icon-image(src='#{cv.results[i].image.icon_url}')
      - else
        div.search-icon-image

      - if(cv.results[i].real_name)
        p Real Name: #{cv.results[i].real_name}
      - else
        p Real Name: Unknown

      p Appears in <strong>#{cv.results[i].count_of_issue_appearances}</strong> issues

      - if(cv.results[i].first_appeared_in_issue)
        p First appeared in issue ##{cv.results[i].first_appeared_in_issue.issue_number} - <a href='/issue/#{cv.results[i].first_appeared_in_issue.id}'>"#{cv.results[i].first_appeared_in_issue.name}"</a>
      - else
        p First appearance unknown

block scripts
  script(type='text/javascript', src='http://codeorigin.jquery.com/jquery-2.0.3.min.js').
  script(type='text/javascript').
    $("form").submit(function () {
      event.preventDefault();
      var action = $("form").attr("action").toLowerCase();

      var values = $("form").serialize().split("&");
      for (var i = 0; i < values.length; i++) {
        var tokens = values[i].split("=");
        action = action.replace("{" + tokens[0].toLowerCase() + "}", tokens[1]);
      }

      window.location.href = action;
    });