extends layout

block content
  h1=title

  form(action='/character/{name}', method='get')
    input(type='text', name='name', placeholder='Character Name')
    input(type='submit', value='Go')

  - for(i = 0; i < cv.results.length; i++)
    div
      - if(cv.results[i].volume.name)
        h2 #{cv.results[i].volume.name}
      - else
        h2 Volume Name Not Available

      - if(cv.results[i].image)
        img.search-icon-image(src='#{cv.results[i].image.icon_url}')
      - else
        div.search-icon-image

      - if(cv.results[i].cover_date)
        p Cover Date: #{cv.results[i].cover_date}
      - else
        p Cover Date: Unknown

      - if(cv.results[i].issue_number)
        p Issue Number: #{cv.results[i].issue_number}
      - else
        p Issue Number: Unknown


block scripts
  script(type='text/javascript', src='http://codeorigin.jquery.com/jquery-2.0.3.min.js').
  script(type='text/javascript').
    $("form").submit(function () {
      event.preventDefault();
      var action = $("form").attr("action").toLowerCase();

      var values = $("form").serialize().split("&");
      for (var i = 0; i < values.length; i++) {
        var tokens = values[i].split("=");
        action = action.replace("{" + tokens[0].toLowerCase() + "}", tokens[1]);
      }

      window.location.href = action;
    });